.feedback-label {
  font-family: Montserrat;
  color: rgba(46, 47, 66, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 40px;
  margin-top: 40px;

}

.feedback-input-email {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

textarea {
  resize: none;
  outline: none;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.text {
  height: 80px;
  margin-top: 20px;
}

.btn-submit {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: 24px;
  background: rgba(78, 117, 255, 1);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}